<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet Web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, consultez la page http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fftaextract.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>fftaextract.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FftaExtract</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$FftaExtract</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FftaDatabase" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:vi0fy2t8i2.database.windows.net,1433;Initial Catalog=FftaExtract_db;User ID=trollcorp@vi0fy2t8i2;Password=Pendore2010" Name="Data Source=tcp:vi0fy2t8i2.database.windows.net,1433;Initial Catalog=FftaExtract_db;User Id=trollcorp@vi0fy2t8i2;Password=Pendore2010" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FftaExtract.DatabaseModel.FftaDatabase, FftaExtract" MigrationConfiguration="FftaExtract.Migrations.Configuration, FftaExtract" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FftaDatabase-Web.config Connection String">
      <ParameterValue>Data Source=tcp:vi0fy2t8i2.database.windows.net,1433;Initial Catalog=FftaExtract_db;User Id=trollcorp@vi0fy2t8i2;Password=Pendore2010</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>