@model FftaExtract.Web.Models.ArcherModel

@{
    ViewBag.Title = Model.Archer.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Archer.FullName</h1>

Arcs : 
@foreach (var bow in Model.Bows)
{
    <span>@bow</span>
}