body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background: #1b6bc1;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

table {
    width: 100%;
}

table td {
    padding: 5px 5px;
}

table td.score, table th.score {
    text-align: right;
}

.tab-content {
    padding: 10px;
    border: #DDD solid 1px;
    border-top: none;
}

a.selected {
    font-weight: bold;
}

.hightScores .panel-default{
    width: 290px;
    float: left;
    margin-right: 10px;
}

.hightScores .panel-body {
    font-weight: bold;
    font-size: 25px;
}