<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net451" />
  <package id="log4net" version="2.0.5" targetFramework="net451" />
  <package id="log4net-loggly" version="7.0.0" targetFramework="net451" />
  <package id="Microsoft.Web.WebJobs.Publish" version="1.0.7" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="Ninject.Extensions.Logging" version="3.2.3.0" targetFramework="net451" />
  <package id="Ninject.Extensions.Logging.Log4net" version="3.2.3.0" targetFramework="net451" />
  <package id="Pattern.Config" version="1.0.1-beta-565" targetFramework="net451" />
  <package id="Pattern.Core" version="1.0.1-beta-565" targetFramework="net451" />
  <package id="Pattern.Core.Interfaces" version="1.0.1-beta-565" targetFramework="net451" />
  <package id="Pattern.Core.Ninject" version="1.0.1-beta-565" targetFramework="net451" />
  <package id="Pattern.Logging" version="1.0.1-beta-565" targetFramework="net451" />
  <package id="Pattern.Logging.Log4net" version="1.0.1-beta-565" targetFramework="net451" />
</packages>