@model List<FftaExtract.DatabaseModel.Archer>
@{
    ViewBag.Title = "title";
}

<h2>Archers</h2>

<div class="list-group">
    @foreach (var archer in this.Model)
    {
        @Html.ActionLink(@archer.FullName, "Index", "Archer", new { Code = @archer.Code }, new { Class = "list-group-item" })
    }
</div>